<div class="container">
  <div id="mySidenav" class="sidenav">
    <div class="container" *ngIf="isOnNav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-arrow-left"></i></a>
      <div class="row top-stats">
        <div class="col-2"></div>
        <div class="col-4">
          <biker-sidebar-stat></biker-sidebar-stat>
        </div>
        <div class="col-4">
          <biker-clock-stat></biker-clock-stat>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="container">
        <a class="menu-link" (click)="goToStats()">My Stats</a>
        <a href="#">Challenges</a>
        <a href="#">Rewards</a>
        <a href="#">Fitness Tracker</a>
        <a href="#">Help</a>
      </div>
    </div>
    <div class="container stats-bin" *ngIf="isOnStats">
      <i class="fas fa-arrow-left closebtn" id="statsbtn" style="color:#00A4EF;font-size:12pt;" (click)="goToNav()"></i>
      <div class="row">
        <h3>My Stats</h3>
      </div>
      <my-stats></my-stats>
    </div>
  </div>
</div>