<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<!--<login *ngIf="!loggedIn"></login>-->

<!-- ===============================================
<div *ngIf="loggedIn">
  <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
    <div *ngFor="">
      <agm-marker [latitude]="loc_lat" [longitude]="loc_lng" *ngIf="locationChosen"></agm-marker>
    </div>
  </agm-map>
</div>
<!- =============================================== -->